.loader-container {
  margin-top: 2rem;
  text-align: -webkit-center;
}

.loader {
  top: 42%;
  left: 42%;
  // position: absolute;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ff4b2b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
